.idea
venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Type checking
.mypy_cache/

# Linting
.ruff_cache/

# Testing
.coverage
htmlcov/

# IDE specific files
*.swp
*.swo